Indoor Ambient Monitoring with Seeeduino LoRaWAN/Node_flow_Indoor.json
[
    {
        "id": "7d5c6b14.d2af94",
        "type": "tab",
        "label": "Device3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d581d8.f14c0e4",
        "type": "switch",
        "z": "7d5c6b14.d2af94",
        "name": "Separate",
        "property": "key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperature_1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "analog_in_3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luminosity_4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "barometric",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luminosity_6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "analog_in_7",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luminosity_8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "92425d9f.bca98"
            ],
            [
                "9b919750.d6fff8"
            ],
            [
                "620b1ab2.a69224"
            ],
            [
                "eee677bf.fe16d8"
            ],
            [
                "4b424590.139b4c"
            ],
            [
                "bc3f8433.7b89f8"
            ],
            [
                "13968bca.c2cd34"
            ],
            [
                "c7fcb372.4b2df"
            ]
        ]
    },
    {
        "id": "9010a80d.dfcdb8",
        "type": "split",
        "z": "7d5c6b14.d2af94",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "4d581d8.f14c0e4"
            ]
        ]
    },
    {
        "id": "a3b86e6f.56637",
        "type": "debug",
        "z": "7d5c6b14.d2af94",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "9b919750.d6fff8",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Humidity",
        "func": "var humValue = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": humValue, \"Datastream\": {\"@iot.id\": 113}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "c67491fc.f4755",
        "type": "http request",
        "z": "7d5c6b14.d2af94",
        "name": "POST Observation",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://iot.gis.bgu.tum.de:8081/FROST-Server-gi3/v1.0/Observations",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "a3b86e6f.56637"
            ]
        ]
    },
    {
        "id": "92425d9f.bca98",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Temperature",
        "func": "var tempValue = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": tempValue, \"Datastream\": {\"@iot.id\": 112}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "a16b3beb.1a5028",
        "type": "debug",
        "z": "7d5c6b14.d2af94",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "681442b7.1266ac",
        "type": "ttn uplink",
        "z": "7d5c6b14.d2af94",
        "name": "TTN Input",
        "app": "58ceff1f.8576a",
        "dev_id": "tum-gis-device3",
        "field": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "531b0b35.751284"
            ]
        ]
    },
    {
        "id": "531b0b35.751284",
        "type": "cayennelpp-decoder",
        "z": "7d5c6b14.d2af94",
        "name": "",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "9010a80d.dfcdb8",
                "a16b3beb.1a5028"
            ]
        ]
    },
    {
        "id": "620b1ab2.a69224",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Air Quality",
        "func": "var quality = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": quality, \"Datastream\": {\"@iot.id\": 119}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "eee677bf.fe16d8",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Light",
        "func": "var light = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": light, \"Datastream\": {\"@iot.id\": 117}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "4b424590.139b4c",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Barometric Pressure",
        "func": "var pressure = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": pressure, \"Datastream\": {\"@iot.id\": 114}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "bc3f8433.7b89f8",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "co2",
        "func": "var co2 = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": co2, \"Datastream\": {\"@iot.id\": 118}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "13968bca.c2cd34",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Gas",
        "func": "var gas = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": gas, \"Datastream\": {\"@iot.id\": 121}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "c7fcb372.4b2df",
        "type": "function",
        "z": "7d5c6b14.d2af94",
        "name": "Loudness",
        "func": "var loudness = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": loudness, \"Datastream\": {\"@iot.id\": 120}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "c67491fc.f4755"
            ]
        ]
    },
    {
        "id": "58ceff1f.8576a",
        "type": "ttn app",
        "z": "",
        "appId": "gis-tum-sensors",
        "accessKey": "ttn-account-v2.pfoDzd49ZF59g2NMU2COEbdtzRf1OPE3x3svo_AK5Ac",
        "discovery": "discovery.thethingsnetwork.org:1900"
    }
]