Adafruit 32u4 LoRa with Display/Node_flow_Adafruit 32u4+Display.json
[
    {
        "id": "cbc0dab3.a14758",
        "type": "tab",
        "label": "adafruit-feather-32u4-lora",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ee3ff48.560c9",
        "type": "mqtt in",
        "z": "cbc0dab3.a14758",
        "name": "",
        "topic": "+/devices/adafruit-feather-32u4-lora/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "d218546e.208a78",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "78694ada.513f34"
            ]
        ]
    },
    {
        "id": "4a6e6b8d.e09f24",
        "type": "debug",
        "z": "cbc0dab3.a14758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "78694ada.513f34",
        "type": "json",
        "z": "cbc0dab3.a14758",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "d2a351c1.762fc",
                "541f8bfe.576bd4",
                "69f699df.2a0ab8"
            ]
        ]
    },
    {
        "id": "d2a351c1.762fc",
        "type": "function",
        "z": "cbc0dab3.a14758",
        "name": "temperature",
        "func": "var tempValue = msg.payload.payload_fields.temperature.value;\nvar newMessage =  { payload: {  \"result\": tempValue, \"Datastream\": {\"@iot.id\": 11}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "f0a7a99a.aca2f8"
            ]
        ]
    },
    {
        "id": "541f8bfe.576bd4",
        "type": "function",
        "z": "cbc0dab3.a14758",
        "name": "Humidity",
        "func": "var humValue = msg.payload.payload_fields.humidity.value;\nvar newMessage =  { payload: {  \"result\": humValue, \"Datastream\": {\"@iot.id\": 12}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "f0a7a99a.aca2f8"
            ]
        ]
    },
    {
        "id": "69f699df.2a0ab8",
        "type": "function",
        "z": "cbc0dab3.a14758",
        "name": "vbattery",
        "func": "var vbatteryValue = msg.payload.payload_fields.vbattery.value;\nvar newMessage =  { payload: {  \"result\": vbatteryValue, \"Datastream\": {\"@iot.id\": 13}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "f0a7a99a.aca2f8"
            ]
        ]
    },
    {
        "id": "f0a7a99a.aca2f8",
        "type": "http request",
        "z": "cbc0dab3.a14758",
        "name": "POST Observation",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://129.187.38.206:8080/FROST-Server/v1.0/Observations",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "4a6e6b8d.e09f24"
            ]
        ]
    },
    {
        "id": "d218546e.208a78",
        "type": "mqtt-broker",
        "z": "",
        "name": "eu.thethings.network",
        "broker": "eu.thethings.network",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]