solar_powered_seeeduino/Node_flow_Solar.json
[
    {
        "id": "58838bc1.4ce6a4",
        "type": "tab",
        "label": "Device1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "daeb7602.698d18",
        "type": "switch",
        "z": "58838bc1.4ce6a4",
        "name": "Separate",
        "property": "key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "analog",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "a3a522a5.a81a9"
            ],
            [
                "367717e8.191318"
            ],
            [
                "466fd2c5.586efc"
            ],
            []
        ]
    },
    {
        "id": "e2798231.c9314",
        "type": "split",
        "z": "58838bc1.4ce6a4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "daeb7602.698d18"
            ]
        ]
    },
    {
        "id": "5c3e3ed9.0b4dd",
        "type": "debug",
        "z": "58838bc1.4ce6a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "367717e8.191318",
        "type": "function",
        "z": "58838bc1.4ce6a4",
        "name": "Humidity",
        "func": "var humValue = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": humValue, \"Datastream\": {\"@iot.id\": 102}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "c777922b.84784"
            ]
        ]
    },
    {
        "id": "c777922b.84784",
        "type": "http request",
        "z": "58838bc1.4ce6a4",
        "name": "POST Observation",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://iot.gis.bgu.tum.de:8081/FROST-Server-gi3/v1.0/Observations",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "5c3e3ed9.0b4dd"
            ]
        ]
    },
    {
        "id": "a3a522a5.a81a9",
        "type": "function",
        "z": "58838bc1.4ce6a4",
        "name": "Temperature",
        "func": "var tempValue = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": tempValue, \"Datastream\": {\"@iot.id\": 101}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "c777922b.84784"
            ]
        ]
    },
    {
        "id": "41ae6239.73f9bc",
        "type": "ttn uplink",
        "z": "58838bc1.4ce6a4",
        "name": "TTN Input",
        "app": "58ceff1f.8576a",
        "dev_id": "tum-gis-device1",
        "field": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "491bb4da.0eb58c"
            ]
        ]
    },
    {
        "id": "491bb4da.0eb58c",
        "type": "cayennelpp-decoder",
        "z": "58838bc1.4ce6a4",
        "name": "",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "e2798231.c9314",
                "f2d3534b.0f44f"
            ]
        ]
    },
    {
        "id": "466fd2c5.586efc",
        "type": "function",
        "z": "58838bc1.4ce6a4",
        "name": "Battery Voltage",
        "func": "var batteryvolt = msg.payload.valueOf();\nvar newMessage =  { payload: {  \"result\": batteryvolt, \"Datastream\": {\"@iot.id\": 104}} };\nnewMessage.headers = {\"Content-type\" : \"application/json\"}\nreturn newMessage;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "c777922b.84784"
            ]
        ]
    },
    {
        "id": "f2d3534b.0f44f",
        "type": "debug",
        "z": "58838bc1.4ce6a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "58ceff1f.8576a",
        "type": "ttn app",
        "z": "",
        "appId": "gis-tum-sensors",
        "accessKey": "ttn-account-ACCESSKEY_HERE",
        "discovery": "discovery.thethingsnetwork.org:1900"
    }
]